# You can set the engines field in your package.json and set requirements for either node or npm versions or both:
#
# "engines" : {
# "npm" : ">=7.0.0",
# "node" : ">=16.0.0"
# }
# To enforce this via npm you need to create an .npmrc file (and commit it to the repository) and set the engines-strict option to true, which will cause npm commands such as # npm install to fail if the required engine versions to not match:
#

engine-strict=true
